/*** basic-reset ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0; font-size: 100%;	font: inherit; vertical-align: baseline; box-sizing: border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

* {text-size-adjust: 110%; -webkit-text-size-adjust : 110%; -moz-text-size-adjust : 110%; -o-text-size-adjust : 110%;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
strong {font-weight:bold;}
.clearfix::after {clear:both; display:block; content:'';}
a{text-decoration:none; color:inherit; display: block;}
a:hover {text-decoration:none;}
sup {vertical-align: super; font-size:smaller;}
sub {vertical-align: sub;}
img {vertical-align: top; width: 100%; border: 0; image-rendering: -moz-crisp-edges; /* Firefox */ image-rendering: -o-crisp-edges; /* Opera */ image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */ image-rendering: crisp-edges;}
.blind {position: absolute; top: -9999999px; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; border: 0; clip: rect(0, 0, 0, 0); white-space: nowrap;}
.underline {text-decoration: underline!important; text-underline-offset: 2px;}
:focus {outline: none;}
:disabled {cursor: auto!important;}
input::placeholder, input::-webkit-input-placeholder {color: var(--base-white-04); font-family: inherit;}
select {-webkit-appearance: none; appearance: none;}
select option {color: #000;}
input {border: 0; background-color: transparent;}
input[readonly="readonly"] {cursor: default;}
input[readonly], textarea[readonly] {cursor: default;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px var(--base-white) inset; box-shadow: 0 0 0 1000px var(--base-white) inset; -webkit-text-fill-color: var(--gowith-white) !important;}
input[type="text"]::-webkit-outer-spin-button,
input[type="text"]::-webkit-inner-spin-button {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
input {font-size: inherit; color: inherit; appearance: none; -moz-appearance: none; -webkit-appearance: none; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: inherit; padding: 0;}
::-webkit-scrollbar {width: 3px; height: 3px;} 
::-webkit-scrollbar-thumb {background: #B3B3B3;} 
.fixed {overflow: hidden!important;}
//input[type='radio'],input[type='checkbox'],input[type='file'] {-webkit-appearance: none; appearance: none; margin: 0; width: 0; height: 0; position: absolute;}
button {border: 0; font-size: inherit; background-color: transparent; line-height: inherit; cursor: pointer; padding: 0; color: inherit; font-family: inherit; font-weight: inherit; -webkit-tap-highlight-color: transparent;}
body {-webkit-font-smoothing: subpixel-antialiased; -webkit-user-drag: none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -ms-user-select: none; -moz-user-select: none; user-select: none; font-family: var(--base-font);}
label {cursor: pointer;}
:root {
  --base-font: 'Rubik', 'Noto Sans', sans-serif;
  --suit-font: 'Noto Sans', sans-serif;
  --base-black: #000000;
  --base-white: #FFFFFF;
  --base-white-07: rgba(255, 255, 255, 0.7);
  --color-contrasty2: #222222;
  --color-contrasty3: #333333;
  --color-contrasty54: #545454;
  --color-contrasty61: #616161;
  --color-contrasty75: #757575;
  --color-contrasty85: #858585;
  --color-contrasty9E: #9E9E9E;
  --color-contrastyA: #AAAAAA;
  --color-contrastyBD: #BDBDBD;
  --color-contrastyC: #CCCCCC;
  --color-contrastyC8: #C8C8C8;
  --color-contrastyE: #EEEEEE;
  --color-contrastyE0: #E0E0E0;
  --color-contrastyE5: #E5E5E5;
  --color-contrastyF5: #F5F5F5;
  --color-contrastyFA: #FAFAFA;
  --color-red: #FF334B;
  --color-red2: #FF5C6F;
  --color-blue: #4F7EFF;
  --color-green: #06C755;
  --btn-blue: #1E51A4;
  --btn-skyblue: #67B2E7;
  --btn-gray: #AAAAAA;
  --btn-gray2: #BDBDBD;
  --btn-gray3: #666666;
}
/*** //basic-reset ***/

* {
  margin: 0; padding: 0; box-sizing: border-box;
}

body {
  padding-top: 80px;
}

#app {
  width: 100vw; height: 100vh;
}


#container {
  display: flex; min-height: 100vh;
  .left {
    width: 30%; padding: 30px;
    border-right: 1px solid var(--color-contrastyC);
  }
  .right {
    padding: 40px;
    width: 70%;
  }
}

input {
  border: 1px solid var(--color-contrastyC);
  height: 30px; border-radius: 4px; padding: 0 10px;
}