/*** basic-reset ***/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  text-size-adjust: 110%;
  -webkit-text-size-adjust: 110%;
  -moz-text-size-adjust: 110%;
  -o-text-size-adjust: 110%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
strong {
  font-weight: bold;
}
.clearfix::after {
  clear: both;
  display: block;
  content: '';
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
a:hover {
  text-decoration: none;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
sub {
  vertical-align: sub;
}
img {
  vertical-align: top;
  width: 100%;
  border: 0;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
}
.blind {
  position: absolute;
  top: -9999999px;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
.underline {
  text-decoration: underline !important;
  text-underline-offset: 2px;
}
:focus {
  outline: none;
}
:disabled {
  cursor: auto !important;
}
input::placeholder,
input::-webkit-input-placeholder {
  color: var(--base-white-04);
  font-family: inherit;
}
select {
  -webkit-appearance: none;
  appearance: none;
}
select option {
  color: #000;
}
input {
  border: 0;
  background-color: transparent;
}
input[readonly='readonly'] {
  cursor: default;
}
input[readonly],
textarea[readonly] {
  cursor: default;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--base-white) inset;
  box-shadow: 0 0 0 1000px var(--base-white) inset;
  -webkit-text-fill-color: var(--gowith-white) !important;
}
input[type='text']::-webkit-outer-spin-button,
input[type='text']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input {
  font-size: inherit;
  color: inherit;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  padding: 0;
}
input[type='number'] {
  appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: #b3b3b3;
}
.fixed {
  overflow: hidden !important;
}
//input[type='radio'],input[type='checkbox'],input[type='file'] {-webkit-appearance: none; appearance: none; margin: 0; width: 0; height: 0; position: absolute;}

button {
  border: 0;
  font-size: inherit;
  background-color: transparent;
  line-height: inherit;
  cursor: pointer;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  -webkit-tap-highlight-color: transparent;
}
body {
  -webkit-font-smoothing: subpixel-antialiased; /*-webkit-user-drag: none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -ms-user-select: none; -moz-user-select: none; user-select: none;*/
  font-family: var(--base-font);
}
label {
  cursor: pointer;
}

:root {
  --base-font: 'Rubik', 'Noto Sans', sans-serif;
  --suit-font: 'Noto Sans', sans-serif;
  --base-black: #000000;
  --base-white: #ffffff;
  --base-white-07: rgba(255, 255, 255, 0.7);
  --color-contrasty2: #222222;
  --color-contrasty3: #333333;
  --color-contrasty54: #545454;
  --color-contrasty61: #616161;
  --color-contrasty75: #757575;
  --color-contrasty85: #858585;
  --color-contrasty9E: #9e9e9e;
  --color-contrastyA: #aaaaaa;
  --color-contrastyBD: #bdbdbd;
  --color-contrastyC: #cccccc;
  --color-contrastyC8: #c8c8c8;
  --color-contrastyE: #eeeeee;
  --color-contrastyE5: #e5e5e5;
  --color-contrastyF5: #f5f5f5;
  --color-contrastyFA: #fafafa;
  --color-red: #ff334b;
  --color-red2: #ff5c6f;
  --color-blue: #4f7eff;
  --color-green: #06c755;
  --btn-blue: #1e51a4;
  --btn-skyblue: #67b2e7;
  --btn-gray: #aaaaaa;
  --btn-gray2: #bdbdbd;
  --btn-gray3: #666666;
}
/*** //basic-reset ***/
$img-path: '@/assets/images/';
$ico-path: '@/assets/images/ico/';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 90px;
  color: var(--color-contrasty2);
}

#app {
  width: 100vw;
  height: calc(100vh - 90px);
}

#container {
  display: flex;
  min-height: 100%;
  .left {
    width: 30%;
    padding: 40px 0 40px 30px;
  }
  .right {
    padding: 40px;
    width: 70%;
    &.meal-type {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    & > .tit-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      .btn-default {
        position: absolute;
        right: 0;
      }
      .tit {
        font-size: 32px;
        font-weight: bold;
        margin: 32px 0 34px;
      }
    }
  }
}

input[type='text'],
input[type='password'],
input[type='number'],
input[type='date'],
input[type='datetime-local'] {
  border: 1px solid var(--color-contrastyC);
  height: 34px;
  border-radius: 4px;
  padding: 0 10px;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

.popup {
  &-box {
    box-sizing: border-box;
    &.type-modal {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      overflow-y: auto;
      width: 100vw;
      height: 100vh;
      z-index: 120;
      .popup-cont {
        width: 660px;
        background-color: var(--base-white);
        border-radius: 10px;
        padding: 20px;
        &.type2 {
          width: 550px;
        }
      }
    }
    .pop-btn-wrap {
      display: flex;
      align-items: center;
      margin-top: 32px;
      gap: 10px;
      .btn-default {
        font-size: 16px;
        height: 40px;
        border-radius: 4px;
        width: 100%;
        color: var(--base-white);
        font-weight: bold;
        border: 0;
        &.submit {
          background-color: var(--btn-blue);
        }
        &.cancel {
          background-color: var(--btn-gray3);
        }
      }
    }
    .dimmed {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px);
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 0;
    }
    .btn-default {
      font-size: 14px;
      height: 34px;
      font-weight: normal;
      border: 1px solid var(--color-contrastyC);
    }
    .tab-btn {
      margin: 20px 0 0;
    }
    .todo-wrap {
      margin-top: 15px;
    }
  }
  &-cont {
    z-index: 1;
  }
  &-tit-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tit {
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.btn-default {
  height: 40px;
  padding: 0 14px;
  border-color: var(--color-contrastyFA);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 15px;
  font-weight: bold;
  transition: all 0.2s;
  border-radius: 4px;
  &:hover {
    background-color: var(--color-contrasty2);
    color: var(--base-white);
    border-color: var(--color-contrasty2);
  }
}

label,
input {
  user-select: none;
}

.ip-list {
  .tit-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .tit {
      font-size: 14px;
      font-weight: 700;
      color: var(--color-contrastyA);
    }
  }
  .bot-box {
    margin-top: 10px;
    position: relative;
    width: 100%;
  }
  & + .ip-list {
    margin-top: 20px;
  }
}

.ip-box {
  input {
    width: 100%;
    font-size: 14px;
  }
}

.ip-chk-txt {
  display: flex;
  align-items: center;
  gap: 0 10px;
  label {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-contrastyA);
    padding: 0px 0 1px 24px;
    background: url($ico-path + 'ico_check.png') left center / auto no-repeat;
    cursor: pointer;
  }
  input[type='checkbox']:checked + label {
    background-image: url($ico-path + 'ico_check1_2.png');
    color: var(--color-contrasty2);
  }
}

.ip-ra-txt {
  display: flex;
  align-items: center;
  gap: 0 10px;
  label {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-contrastyA);
    padding-left: 24px;
    background: left center/auto no-repeat;
    background-image: url($ico-path + 'ico_radio.png');
    cursor: pointer;
  }
  input:checked + label {
    background-image: url($ico-path + 'ico_radio1_2.png');
    color: var(--color-contrasty2);
  }
}

.select-box {
  select {
    height: 34px;
    border-radius: 4px;
    border: 1px solid var(--color-contrastyC);
    padding: 0 40px 0 10px;
    font-size: 14px;
    cursor: pointer;
    background: url($ico-path + 'ico_select.png') no-repeat right 8px center;
  }
}

.text-box {
  textarea {
    width: 100%;
    resize: none;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid var(--color-contrastyC);
    height: 150px;
    font-size: 14px;
    font-family: inherit;
  }
}

.meal-add-wrap {
  margin-top: 20px;
  .meal-top-wrap {
    display: flex;
    gap: 0 20px;
    margin-bottom: 16px;
    .icon-box {
      .icon-btn {
        width: 60px;
        height: 60px;
        font-size: 0;
        border: 1px solid var(--color-contrastyC);
        border-radius: 4px;
        background: url($ico-path + 'icon_default.png') center / 40px no-repeat;
        $iconClass: (
          bread,
          burger,
          cake,
          chicken,
          egg,
          fish,
          fruit,
          icecream,
          milk,
          noodle,
          pizza,
          rice,
          sausage,
          snack,
          steak
        );
        @each $icon in $iconClass {
          &.#{$icon} {
            background-image: url('@/assets/images/ico/icon_#{$icon}.png');
            font-size: 0;
          }
        }
      }
    }
  }
  .nutrient-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 16px 0;
    .ip-list {
      width: calc(calc(100% / 3) - (20px / 3));
      margin-top: 0;
      .ip-box {
        position: relative;
        input {
          width: 100%;
          font-size: 14px;
          padding-right: 40px;
        }
        .unit {
          position: absolute;
          right: 8px;
          top: 50%;
          margin-top: -6px;
          font-size: 12px;
        }
      }
    }
  }
}

.tab-default {
  display: flex;
  button {
    flex: 0 1 100%;
    border-radius: 0;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s;
    border: 1px solid var(--color-contrastyC);
    &.active {
      color: var(--base-white);
      background-color: var(--color-contrasty2);
      border-color: var(--color-contrasty2);
    }
    & + button {
      border-left: 0;
    }
  }
}

.fc {
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  .fc-scroller {
    margin-top: 1px;
  }
  .fc-header-toolbar {
    .fc-toolbar-chunk {
      .fc-button {
        background-color: var(--base-white);
        border: none;
        .fc-icon {
          color: var(--color-contrasty2);
        }
      }
    }
  }
  .fc-daygrid-body {
    tbody {
      margin-bottom: -1px;
      tr:nth-of-type(1) td.fc-day-disabled {
        background-color: var(--base-white);
        border: 0;
      }
      :where(tr:nth-last-of-type(1), tr:nth-last-of-type(2)) {
        & > td:not(.fc-day-future, .fc-day-past) {
          display: none;
        }
      }
    }
  }

  .fc-event-main,
  .fc-day:not(.fc-day-disabled) {
    cursor: pointer;
  }
}

.user {
  &-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -160px;
    .btn-default {
      margin-top: 30px;
      width: 100%;
      border-radius: 4px;
    }
    .logo {
      font-size: 0;
      width: 176px;
      height: 57px;
      background: url($img-path + 'h_logo.png') center / auto no-repeat;
      margin: 0 auto 30px;
    }
  }
  &-container {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 500px;
    padding: 30px 30px 30px;
  }
  &-bot-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    width: 500px;
    button {
      border: 0;
      font-size: 14px;
      color: var(--color-contrastyA);
      transition: all 0.2s;
      &:hover {
        color: var(--color-contrasty2);
        font-weight: bold;
      }
    }
  }
}

.btn-box {
  button {
    border: 1px solid var(--color-contrastyC);
    border-radius: 4px;
  }
}

.list {
  &-container {
    padding: 20px 10px 5px;
    overflow-y: auto;
    height: calc(100% - 28px);
    position: relative;
    .group {
      + .list-item {
        margin-top: 15px;
      }
      &:first-child {
        .list-stit {
          margin-top: 0;
        }
      }
    }
    .shadow {
      position: absolute;
      bottom: 0;
    }
  }
  &-tit {
    font-size: 24px;
    font-weight: bold;
  }
  &-stit {
    font-size: 16px;
    font-weight: bold;
    margin: 15px auto;
  }
  &-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 14px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    gap: 10px 0;
    background-color: var(--base-white);
    .ip-chk-txt {
      width: 100%;
      label {
        font-size: 16px;
      }
    }
    & + .list-item {
      margin-top: 15px;
    }
    .date {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 12px;
      color: var(--color-contrastyA);
    }
    .btn-box {
      display: flex;
      align-items: center;
      gap: 0 6px;
      button {
        font-size: 0;
        width: 22px;
        height: 22px;
        background: center / 16px no-repeat var(--base-white);
        &.edit-btn {
          background-image: url($ico-path + 'ico_edit.png');
        }
        &.remove-btn {
          background-image: url($ico-path + 'ico_remove.png');
        }
      }
    }
    &.center {
      justify-content: center;
      cursor: pointer;
      position: sticky;
      bottom: 0;
      .add {
        color: var(--color-contrastyC);
        font-weight: bold;
        transition: all 0.2s;
        padding-left: 26px;
        background: url($ico-path + 'ico_plus.png') left center / 26px no-repeat;
      }
      &:hover {
        .add {
          color: var(--color-contrasty2);
          background-image: url($ico-path + 'ico_plus_active.png');
        }
      }
    }
    $bgColor: (
      0: var(--color-red),
      1: var(--color-green),
      2: var(--color-blue),
      3: var(--btn-skyblue),
    );
    @each $i, $color in $bgColor {
      &.active#{$i} {
        border: 1px solid $color;
        box-shadow: 0px 0px 3px $color;
      }
    }
    .tit-box {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .title {
        font-size: 16px;
        font-weight: bold;
        width: 100%;
      }
      .description {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 4px;
        padding-bottom: 4px;
        border-bottom: 1px solid var(--color-contrastyE5);
        color: var(--color-contrastyA);
        width: 100%;
      }
      .auto {
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 12px;
        font-weight: bold;
        color: var(--color-contrastyA);
      }
      .day {
        margin-top: 5px;
        font-weight: bold;
        color: var(--color-contrastyA);
        font-size: 13px;
        span {
          color: var(--color-contrasty2);
        }
      }
    }
    // @for $i from 1 through 4 {
    //   &.active#{$i} {
    //     background-color: map-get($bgColor, $i);
    //   }
    // }
  }
}
